@import url(animations/loadingAnimation.css);
@import url(animations/learnMoreButton.css);
@import url(animatedBackground.css);
@import url(blogStyles.css);

/* 
COLOR PALLETTE
#112D4E dark blue
#3F72AF normal blue
#DBE2EF light blue
#F9F7F7 white
*/

/* GENERAL STYLING*/

body {
    font-family: 'Lato', sans-serif;
    background-color: #DBE2EF;
    font-size: 100%;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #112D4E;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    color: #112D4E;
    font-size: 1.5rem;
    line-height: 1.5;
}

a {
    outline: none;
    text-decoration: none;

}

a:link {
    color: #3F72AF;
}

a:visited {
    color: #3f71afb1;
}

p a:hover {
    color: #6d9bd3;
    border-bottom: 3px solid #112D4E;
}

/* NAVIGATION BAR */

.navbar {
    background-color: #F9F7F7;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, .2);
}

.navbar-brand {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 20px;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #3F72AF;
}

@media (min-width: 1100px) {
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-custom .dropdown-menu {
        position: absolute;
    }

    .navbar-expand-custom .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .navbar-expand-custom>.container {
        flex-wrap: nowrap;
    }

    .navbar-expand-custom .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .nav-link {
        color: #112D4E;
        padding: 1em 0;
    }

    .nav-item {
        margin: 0 1.2em;
    }
}

.navbar {
    padding: 0;
    margin: 0;
}

.nav-item {
    position: relative;
    margin: 0 5px;
}

.nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: #112D4E;
    width: 0%;
    height: 6px;
    transition: all 0.5s;
}

.nav-item:hover::after {
    width: 100%;
}

.dropdown .dropdown-menu {
    background-color: #112D4E;
    border-radius: 0 0 4% 4%;
    border: none;
    left: 0;
}

.dropdown-menu .dropdown-item {
    color: #F9F7F7;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #F9F7F7;
    color: #112D4E;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

.nav-link.active {
    background-color: #112D4E;
    color: #F9F7F7 !important;
}

.nav li:hover>a i {
    transform: rotate(90deg);
}

.navbar-toggler span {
    display: block;
    background-color: #112D4E;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}


.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
}



.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
    opacity: 1;
}

.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
}

/* INDEX PAGE */

.container-fluid {
    position: relative;
    padding: 0;
    margin: 0;
}

.section-heading {
    text-align: center;
    padding-top: 100px;
    color: #3F72AF;
    width: 40vw;

    text-transform: uppercase;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1.75rem 0;
    grid-gap: 10px;

    margin-left: auto;
    margin-right: auto;
}

.section-heading:after,
.section-heading:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #112D4E;
}

.section-intro {
    padding: 0 20%;
}

.section-intro .text-box {
    padding-top: 50px;
}

.img-card {
    display: block;
    margin: 50px auto;
    background-color: #F9F7F7;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5);
    transition: transform 1s ease-in-out;
}

.img-card:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.section-subheading {
    text-align: left;
    padding-top: 30px;
}


/* WELCOME TITLE */

#big-heading {
    z-index: 2;
    text-align: left;
    position: absolute;
    top: 10%;
    left: 10%;
}

#big-heading .big-text {
    font-weight: 900;
    font-size: 5vw;
    line-height: 1.5;
    color: #F9F7F7;
}

#big-heading div {
    border-bottom: 10px solid #F9F7F7;
}


.d-block.w-100 {
    position: relative;
    filter: brightness(60%);
    width: 100%;
    height: 80vh;
    min-height: 250px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 80vh;
    min-height: 250px;
}

#carouselSupportedContent {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 80vh;
    min-height: 250px;
}

#title {
    min-height: 250px;
}

@media screen and (max-width: 600px) {
    #big-heading {
        right: 10%;
        top: 25%;
    }

    #big-heading div {
        border-bottom: 4px solid #F9F7F7;
    }
}

/* INTRODUCTION */

#abstract .text-box {
    padding-top: 20px 0;
}

#abstract .text-box {
    padding: 20px 0;
}

#abstract .container-fluid {
    padding: 0 20%;
    padding-bottom: 50px;

}

/* FEATURES */

#features .container-fluid {
    padding-bottom: 50px;
    position: relative;
    margin: 0 auto;
}

#features .features-grid {
    display: grid;
    margin: 2% 10%;
    justify-items: center;
    align-items: center;
    /* grid-auto-rows: auto; */
}

#features .feature-card {
    margin: 3rem 0;
    width: 300px;
    height: 300px;
    background-color: #F9F7F7;
    border-radius: 7%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

#features .fa,
#features .fa-brands {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: #3F72AF;
    margin: 20px 0;
}

#features .feature-card:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}

#features .feature-card:hover .fa,
#features .feature-card:hover .fa-brands {
    animation: hithere 3s ease infinite;
}

#features h3 {
    color: #112D4E;
    text-align: center;
}

#features .features-grid p {
    font-size: 1rem;
    color: #112D4E;
    margin: 0 10%;
}

#features .learn-more {
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}

@keyframes hithere {
    30% {
        transform: scale(1.2);
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@media (min-width: 900px) {
    #features .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 1300px) {
    #features .features-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* INTRO VIDEO */
#intro-video {
    position: relative;
}

#intro-video .container-fluid {
    position: absolute;
}


#intro-video p,
#team p,
#features p,
#project-timeline p {
    text-align: center;
}

#intro-video iframe {
    position: relative;
    display: block;
    padding-top: 50px;
    margin: 0 auto;
}

/* TEAM */

#team .profile-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 10%;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
}

#team .profile-card {
    background-color: #F9F7F7;
    height: 30rem;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: transform .5s ease-in-out;
}

#team .profile-card p {
    color: #112D4E;
    font-size: 1rem;
    margin: 0 20px;
}

#team .profile-card:hover {
    transform: scale(1.1);
    transition: transform .2s ease-in-out;
}

#team .card-name {
    color: #112D4E;
    margin-top: 15px;

}

#team .card-image {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 2px solid #112D4E;
    margin-top: 20px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
}

#team .social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
}

#team .social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1em;
}

#team .social-icons i {
    color: #DBE2EF;
    position: absolute;
    top: 0.95em;
    left: 0.96em;
    transition: all 265ms ease-out;
}

#team .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #112D4E, #3F72AF);
    transition: all 265ms ease-out;
}

#team .social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

#team .social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #112D4E;
    background: -webkit-linear-gradient(45deg, #112D4E, #3F72AF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

/* TIMELINE */

.text-box {
    padding-top: 50px;
}

#project-timeline img {
    display: block;
    margin: 30px auto;
    width: 80vw;
    height: 40vw;
    padding-bottom: 40px;
}

/* FOOTER */

.site-footer {
    background: linear-gradient(150deg, #3F72AF, #DBE2EF);
    padding: 45px 0 20px;
    line-height: 24px;
    color: #112D4E;
}

.site-footer p {
    color: #112D4E;
    font-size: 1rem;
}

.site-footer hr {
    border-top-color: #112D4E;
    opacity: 0.5;
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h5 {
    color: #112D4E;
}

.site-footer a {
    color: #3F72AF;
}

.site-footer a:hover {
    color: #112D4E;
    text-decoration: none;
}

.site-footer .footer-links {
    padding-left: 0;
    list-style: none;
}

.site-footer .footer-links li {
    display: block;
    margin: 15px 0;
}

.site-footer .footer-links a {
    color: #3F72AF;
}

.site-footer img {
    position: relative;
    display: block;
    margin: 20px auto 20px 0;
}

.site-footer .footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.site-footer .footer-links.inline li {
    display: inline-block;
}

.site-footer .copyright-text {
    margin: 0;
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px;
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}

.site-footer .social-icons {
    text-align: right;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}

.site-footer .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.site-footer .social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.site-footer .social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.site-footer .social-icons a {
    background-color: #112D4E;
    color: #F9F7F7;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.site-footer .social-icons a:active,
.site-footer .social-icons a:focus,
.site-footer .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.site-footer .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.site-footer .social-icons a.github:hover {
    background-color: #81278f;
}

.site-footer .social-icons a.youtube:hover {
    background-color: #FF0000;
}

.site-footer .social-icons a.blog:hover {
    background-color: #007bb6;
}

@media (max-width:767px) {
    .site-footer .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

/* STYLES FOR SUBPAGES */

#title-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 50px;
    background: linear-gradient(150deg, #3F72AF, #112D4E);
    112D4E width: 100%;
    height: 50vh;
    min-height: 350px;
}

#title-banner h1 {
    font-weight: 900;
    font-size: 5vw;
    line-height: 1.5;
    text-align: center;
    color: #F9F7F7;
    margin: 0;
    -webkit-animation: fadeIn 2s ease;
}