@import url(animations/styles.css);
@import url(animatedBackground.css);
@import url(blogStyles.css);
@import url(requirementsStyles.css);

/* 
COLOR PALLETTE
#112D4E dark blue
#3F72AF normal blue
#DBE2EF light blue
#F9F7F7 white
*/

/* GENERAL STYLING*/

body {
    font-family: 'Lato', sans-serif;
    background-color: #112D4E;
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #DBE2EF;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    color: #F9F7F7;
    font-size: 1.5rem;
    line-height: 1.5;
}

a {
    outline: none;
    text-decoration: none;

}

a:link {
    color: #3F72AF;
}

a:visited {
    color: #3f71afb1;
}

p a:hover {
    color: #6d9bd3;
    border-bottom: 3px solid white;
}

.container-fluid {
    position: relative;
    padding: 0;
    margin: 0;
}

/* INDEX PAGE */

/* NAVIGATION BAR */

.navbar {
    background-color: #DBE2EF;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, .2);
}

.navbar-brand {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 20px;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #3F72AF;
}

@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .nav-link {
        color: #112D4E;
        padding: 1em 0;
    }

    .nav-item {
        margin: 0 1.2em;
    }

    .navbar {
        padding: 0;
    }

}

.nav-item {
    position: relative;
}

.nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: #112D4E;
    width: 0%;
    height: 6px;
    transition: all 0.5s;
}

.nav-item:hover::after {
    width: 100%;
}

.dropdown .dropdown-menu {
    background-color: #112D4E;
    border-radius: 0 0 4% 4%;
    border: none;
    left: 0;
}

.dropdown-menu .dropdown-item {
    color: #DBE2EF;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #DBE2EF;
    color: #112D4E;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

.nav li:hover>a i {
    transform: rotate(90deg);
}


/* WELCOME TITLE */

#big-heading {
    z-index: 2;
    text-align: left;
    position: absolute;
    top: 20%;
    left: 10%;
}

#big-heading .big-text {
    font-weight: 900;
    font-size: 5.5vw;
    line-height: 1.5;
    color: #F9F7F7;
}

#big-heading div {
    border-bottom: 10px solid #F9F7F7;
}

@media screen and (max-width: 600px) {
    #big-heading {
        right: 10%;
        top: 25%;
    }

    #big-heading div {
        border-bottom: 4px solid #F9F7F7;
    }
}


.d-block.w-100 {
    filter: brightness(60%);
    width: 100%;
}

.carousel-inner {
    width: 100%;
}

#carouselSupportedContent {
    width: 100%;
}

/* INTRODUCTION */

#introduction h1 {
    text-align: left;
    padding-top: 100px;
    margin-right: 150px;
}

#introduction h3 {
    text-align: left;
    margin-right: 150px;
    padding-top: 30px;
}

.text-box {
    padding: 20px 0;
}

#introduction .container-fluid {
    padding: 0 10%;
    padding-bottom: 50px;

}

/* INTRO VIDEO */
#intro-video {
    position: relative;
}

#intro-video .container-fluid {
    position: absolute;
}

#intro-video h1,
#intro-video p {
    text-align: center;
    color: #DBE2EF;
}

#intro-video h1 {
    padding-top: 100px;
}

#intro-video iframe {
    position: relative;
    display: block;
    margin: 0 auto;
}

/* TEAM */

#team h1,
#team p {
    text-align: center;
}

#team h1 {
    padding-top: 100px;
}

#team .profile-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

#team .profile-card {
    background-color: #DBE2EF;
    height: 30rem;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: transform .5s ease-in-out;
}

#team .profile-card p {
    color: #112D4E;
    font-size: 1rem;
    margin: 0 20px;
}

#team .profile-card:hover {
    transform: scale(1.05);
    transition: transform .2s ease-in-out;
}

#team .card-name {
    color: #112D4E;
    margin-top: 15px;

}

#team .card-image {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 2px solid #112D4E;
    margin-top: 20px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
}

#team .social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
}

#team .social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1em;
}

#team .social-icons i {
    color: #DBE2EF;
    position: absolute;
    top: 0.95em;
    left: 0.96em;
    transition: all 265ms ease-out;
}

#team .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #112D4E, #3F72AF);
    transition: all 265ms ease-out;
}

#team .social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

#team .social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #112D4E;
    background: -webkit-linear-gradient(45deg, #112D4E, #3F72AF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

/* TIMELINE */

#project-timeline h1,
#project-timeline p {
    text-align: center;
}

#project-timeline h1 {
    padding-top: 100px;
}

#project-timeline .text-box {
    padding-top: 20px;
    padding-bottom: 20px;
}

#project-timeline img {
    display: block;
    margin: 30px auto;
    width: 80vw;
    height: 40vw;
    padding-bottom: 40px;
}

/* FOOTER */

.site-footer {
    background: linear-gradient(150deg, #3F72AF, #DBE2EF);
    padding: 45px 0 20px;
    line-height: 24px;
    color: #112D4E;
}

.site-footer p {
    color: #112D4E;
    font-size: 1rem;
}

.site-footer hr {
    border-top-color: #112D4E;
    opacity: 0.5;
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h5 {
    color: #112D4E;
}

.site-footer a {
    color: #3F72AF;
}

.site-footer a:hover {
    color: #112D4E;
    text-decoration: none;
}

.site-footer .footer-links {
    padding-left: 0;
    list-style: none;
}

.site-footer .footer-links li {
    display: block;
    margin: 15px 0;
}

.site-footer .footer-links a {
    color: #3F72AF;
}

.site-footer img {
    position: relative;
    display: block;
    margin: 20px auto 20px 0;
}

.site-footer .footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.site-footer .footer-links.inline li {
    display: inline-block;
}

.site-footer .copyright-text {
    margin: 0;
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px;
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}

.site-footer .social-icons {
    text-align: right;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}

.site-footer .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.site-footer .social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.site-footer .social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.site-footer .social-icons a {
    background-color: #112D4E;
    color: #F9F7F7;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.site-footer .social-icons a:active,
.site-footer .social-icons a:focus,
.site-footer .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.site-footer .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.site-footer .social-icons a.github:hover {
    background-color: #81278f;
}

.site-footer .social-icons a.youtube:hover {
    background-color: #FF0000;
}

.site-footer .social-icons a.blog:hover {
    background-color: #007bb6;
}

@media (max-width:767px) {
    .site-footer .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}